* {
    margin: 0 auto;
    padding: 0;
}
.container {
    max-width: 1170px;
    position: relative;
}
.top_header {
    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6
}
.top_header_left{
    margin-left: 0em;
}
.top_header_right {
    margin-right: 0em;
}
.navv {
    text-decoration: none;
    padding: 0 15px 0 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
    opacity: 1;
    color: #7E7E7E;
}
.d1 {
    padding-top: 20px;
    position: absolute;
    right: 0px;
}
form {
    display: flex;
    width: 200px;
}
.d1 input {
    padding-left: 10px;
    border: 2px solid #E1E1E1;
    outline: none;
}
.d1 button {
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
}
.header_footer {
    display: flex;
    padding-top: 72px;
}
.menu {
    margin-right: 0;
    margin-top: 25px;
}
.menu_text {
    text-decoration: none;
    padding: 0 15px 0 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    opacity: 1;
    color: #3D3D3D;
}
.logo {
    margin-left: 0;
}
main {
    width: 1920px;
    height: 1070px;
    background-image:url(https://pbs.twimg.com/media/EB_MCy-WsAAcGQH.jpg:large);
    background-repeat: no-repeat;
    
}
/* Слайдер 1: */
.slider{
    max-width: 90%;
    /* Положение элемента устанавливается относительно его исходной позиции: */
    position: relative;
    /* Центрируем по горизонтали: */
    margin: auto;
    height: 1070px;
    width: 1920px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item img {
    /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
    object-fit: cover;
    width: 100%;
    height: 1070px;
}

/* Кнопки назад и вперёд: */
.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    padding-left: 1900px;
    border-radius: 3px 0 0 3px;
    z-index: 999999;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999999;
}

/* Анимация слайдов: */
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /* Устанавливаем и изменяем степень прозрачности: */
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
.slider_container {
    max-width: 1920px;
    height: 1070px;
}
.slider_text {
    position: relative;
    bottom: 800px;
    padding-left: 1100px;
}
h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
}
h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 100px;
    color: white;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    color: #4C4C4C;
}
.p_slider_text {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 15px;
    padding-top: 29px;
}
.block_images {
    padding-bottom: 61px;
}
.images_columns {
    display: flex;
}
.images_column {
    padding: 29px 29px 0px 0;
    max-height: 250px;
}
.top_block {
    display: flex;
}
.images_column_top {
    padding-top: 70px;
    max-height: 430px;
}
.images_column_2 {
    padding-top: 70px;
    max-height: 530px;
}
.text_block_1 {
    position: relative;
    bottom: 240px;
    text-align: center;
}
.text_block_top {
    font-family: 'Cousine', monospace;
    font-size: 40px;
    color: #FFFFFF;
}
.text_block_top_2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}
.text_block_top_3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    padding-top: 130px;
    color: white;
    text-align: center;
}
.text_block_2 {
    position: relative;
    bottom: 160px;
    text-align: center;
}
.text_block_left {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
}
.text_block_left_2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    color: #FFFFFF;
}
.text_block_left_3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    padding-top: 44px;
    color: white;
    text-align: center;
}
.text_block_3 {
    position: relative;
    bottom: 160px;
    text-align: center;
}
.text_block_left_down {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}
.text_block_left_down_2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}
.text_block_left_down_3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    padding-top: 44px;
    color: white;
    text-align: center;
}
.text_block_4 {
    position: relative;
    bottom: 320px;
    text-align: center;
}
.text_block_left_right {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    color: #FFFFFF;
}
.text_block_left_right_2{
    font-family: 'Cousine', monospace;
    font-size: 18px;
    color: #FFFFFF;
}
.text_block_left_right_3 {
    font-family: 'Cousine', monospace;
    font-size: 30px;
    padding-top: 10px;
    color: white;
    text-align: center;
}
.images_column_right {
    position: relative;
    max-height: 710px;
}
.text_block_5 {
    position: relative;
    bottom: 620px;
    text-align: center;
}
.text_block_right_up {
    font-family: 'Cousine', monospace;
    font-size: 18px;
    color: black;
}
.text_block_right_up_2{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.text_block_right_up_3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
}
.text_block_right_up_4 {
    font-family: 'Cousine', monospace;
    font-size: 12px;
    padding-top: 480px;
    color: black;
}
.text_block_6 {
    position: relative;
    bottom: 160px;
    text-align: center;
}
.text_block_right_down {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: white;
}
.section_header {
    display: flex;
    max-width: 800px;
}
.menu_section {
    padding-top: 59px;
}
.menu_section_text {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    color: #3D3D3D;
    text-align: center;
}
.merch_block {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
}
.merch_text {
    display: flex;
    padding-top: 20px;
}
article {
    padding-top: 61px;
}
.gif {
    display: block;
    width: 270px;
    height: 350px;
    background: url(../cite/img/gand.jpg) no-repeat;
    background-size: 270px 350px;
}
a.gif img {
    visibility:hidden
}
a.gif:hover {
    background:none;
}
a.gif_1:hover img {
    visibility: visible; 
    border:0; 
    transform: scale(-1, 1);
    transition: 1s;
}
a.gif_2:hover img {
    visibility: visible; 
    border:0; 
    -moz-transform: translate(50px, -4em);
	-webkit-transform: translate(50px, -4em);
	-o-transform: translate(50px, -4em);
	-ms-transform: translate(50px, -4em);
	transform: translate(50px, -4em);
    transition: 1s;
}
a.gif_3:hover img {
    visibility: visible; 
    border:0; 
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 5s;
  }
a.gif_4:hover img {
    visibility: visible; 
    border:0; 
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: 3s;
  }
  a.gif_5:hover img {
    visibility: visible; 
    border:0; 
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    transition: 2s;
  }
  a.gif_6:hover img {
    visibility: visible; 
    border:0; 
    -webkit-transform: scale(1.5) translateX(10px) skew(10deg) rotate(0.175rad);
	-o-transform: scale(1.5) translateX(10px) skew(10deg) rotate(0.175rad);
	-ms-transform: scale(1.5) translateX(10px) skew(10deg) rotate(0.175rad);
	transform: scale(1.5) translateX(10px) skew(10deg) rotate(0.175rad); 
    transition: 3s;
  }
  a.gif_7:hover img {
    visibility: visible; 
    border:0; 
    -moz-transform: scaleX(2);
	-webkit-transform: scaleX(2);
	-o-transform: scaleX(2);
	-ms-transform: scaleX(2);
	transform: scaleX(2);
    transition: 3s;
  }
  a.gif_8:hover img {
    visibility: visible; 
    border:0; 
    -moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
    transition: 3s;
  }
  .section_footer_text {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    color: #555555;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 79px;
  }
  .section_1 {
      background-color: #1F1F1F;
  }
  .left_aside {
    display: table-cell;
    padding-top: 91px;
  }
  .left_aside_center {
    display: flex;
    margin-top: 31px;
  }
  .left_aside_text_1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #888888;
  }
  .left_aside_text_2 {
      padding-top: 10px;
      color: #888888;
  }
  .left_aside_text_3 {
      color: #888888;
  }
  .left_aside_1 {
    padding-bottom: 60px;
    max-width: 450px;
    padding-left: 20px;
  }
  .left_aside_2 {
      padding-top: 121px;
  }
.left_aside_block {
    display: flex;
    padding-top: 33px;
}
.left_aside_block_1 {
    padding-right: 19px;
}
.left_aside_3 {
    margin-top: 120px;
    padding-bottom: 88px;
}
.form {
    max-width: 216px;
}
.input_text {
    width: 216px;
    max-height: 31px;
    border: 1px solid #666666;
    box-sizing: border-box;
    font-size: 12x;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #666666;
    background-color: #1F1F1F;
  }
  .input_textarea {
    width: 216px;
    max-height: 136px;
    border: 1px solid #666666;
    box-sizing: border-box;
    font-size: 12x;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #666666;
    background-color: #1F1F1F;
  }
  .input_text_1 {
    width: 451px;
    max-height: 51px;
    border: 1px solid #666666;
    box-sizing: border-box;
    font-size: 12x;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #666666;
    background-color: #1F1F1F;
  }
  .left_aside {
      margin-right: 15px;
  }
  .left_aside_4 {
      padding-top: 60px;
      padding-bottom: 120px;
  }
  .aside_block {
      display: flex;
  }
  .center_aside_1 {
    padding-top: 91px;
    padding-bottom: 60px;
    max-width: 400px;
    border: 1px solid #2A2A2A;
    padding-left: 20px;
  }
  .center_aside_1_block {
      display: flex;
      margin-top: 33px;
  }
  .center_aside_1_block_left_text {
      max-width: 120px;
      font-family: 'Merriweather Sans', sans-serif;
      color: #888888;
      font-size: 13px;
  }
  .center_aside_1_block_left {
      padding-right: 41px;
  }
  .center_aside_1_footer_text {
      font-family:Arial, Helvetica, sans-serif ;
      color: #888888;
      font-size: 17px;
  }
  .center_aside {
      margin-left: 15px;
  }
  .center_aside_2_block_1 {
      margin-bottom: 44px;
  }
  .center_aside_2 {
    padding-top: 31px;
    padding-bottom: 60px;
    max-width: 400px;
    border: 1px solid #2A2A2A;
    padding-left: 20px;
  }
  .center_aside_2_footer {
      display: flex;
  }
  .twitter_name {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 32px;
    padding-top: 34px;
  }
  .twitter_block_footer {
      display: flex;
  }
  .twitter_block_center {
      margin-bottom: 18px;
  }
  .twitter_text_nav {
      display: flex;
  }
  .reply {
      display: flex;
      padding-right: 19px;
  }
  .center_aside_2_footer_text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      color: #888888;
  }
  .twitter_text_aside {
      font-family:'Roboto Condensed', sans-serif;
      font-size: 17px;
      color: #888888;
  }
  .twitter_text_email {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #888888;
  }
  .twitter_block_center_text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      color: #888888;
  }
  .center_aside_2_footer_button {
      background-color: #1F1F1F;
      color: #888888;
      width: 72px;
      height: 26px;
      border: 1px solid #888888;
  }
  .center_aside_3 {
    padding-top: 31px;
    padding-bottom: 87px;
    max-width: 400px;
    border: 1px solid #2A2A2A;
    padding-left: 20px;
  }
.center_aside_3_footer {
    display: flex;
    padding-bottom: 34px;
}
.center_aside_3_center_image {
    padding-top: 21px;
}
.img_gus {
    padding: 11px;
}
.nav_block {
    padding-top: 91px;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 100px;
    border: 1px solid #2A2A2A;
}
.nav_block_1_big_text {
    font-family:'Roboto Condensed', sans-serif;
      font-size: 17px;
      color: #888888;
      padding-bottom: 34px;
}
.nav_block_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    color: #888888;
    padding-bottom: 19px;
}
footer {
    background-color: #1F1F1F;
}
.footer_logo {
    display: flex;
    padding-top: 35px;
}
.footer_logo_text {
    color: #666666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    padding-top: 9px;
}
.footer_logo_left {
    padding-bottom: 35px;
}